<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="static/css/style.css">
	 <link rel="stylesheet" type="text/css" href="static/css/design_sign_in.css">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	 <script type="text/javascript" src="oRF.js"></script>
	 <title>ΑΛΜΙ-ΡΙΚΙ</title>
</head>
     <div id="social">
			     <ul>
				    <li><a href="https://www.facebook.com" target="_blank"><img src="static/images/fb.png" width="50" height"80" align="right"  alt="facebook" title="Facebook"/></a></li>
				     <li><a href="https://twitter.com" target="_blank"><img src="static/images/twitter.png" width="50" height"80" align="right"  alt="twitter" title="Twitter"/></a></li>
					 <li><a href="https://www.youtube.com" target="_blank"><img src="static/images/youtube.png" width="50" height"80" align="right"  alt="Youtube" title="Youtube"/></a></li>
					 <li><a href="http://www.plus.google.com" target="_blank"><img src="static/images/google+.png" width="50" height"80" align="right"  alt="Google plus" title="Google plus"/></a></li>
				 </ul>
				 <br>
     </div><!---Τελος του social-->
	 
	 <header>
	     <h1>ΑΛΜΙ-ΡΙΚΙ</h1>
     </header>
	 
	 <nav> <!-- Αρχή navigation bar -->    
         <ul>
             <a href="{{ url_for('index') }}"><li>Αρχική</li></a>
	         <a href="{{ url_for('about') }}"><li>Επικοινωνία</li></a>
			 <a href="{{ url_for('reservation') }}"><li>Κράτηση</li></a>
             <a href="{{ url_for('sign_in') }}"><li style= "float:right">Σύνδεση</li></a>
			 <a href="{{ url_for('register') }}"><li style= "float:right">Εγγραφή</li></a>
	     </ul>
		 
         <div class="handle">Menu</div>

     </nav><!-- Τέλος navigation bar -->

<body>
     <div class="container">
	     <img src="static/images/men.png">
	     <form action="login2.php" method="POST">
		     <div class="from-input">
			     <input type="text" name="username" placeholder="Enter Username" required>
             </div>
             <div class="from-input">
                 <input type="password" name="password" placeholder="Enter Password" required>
             </div>
			 <input type="submit" name="submit" value="LOGIN" class="btn-login">
			 
		 </form>

<script>

	 $('.handle').on('click', function(){
	     $('nav ul').toggleClass('showing');
	 });
</script>	
</body>
</html>